html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.nav {
  height: 50px;
  position: relative;
}
.nav__button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.nav__button a {
  position: relative;
  top: 50%;
  padding: 0px 20px;
  text-decoration: none;
  color: #000000;
}

.header {
  position: relative;
  height: 400px; /* You must set a specified height */
  background-image: url(img/banner.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.header__title {
  border-bottom: 3px solid white;
  color: white;
  margin: 0px 0px 0px 300px;
  padding-bottom: 5px;
  position: absolute;
  text-align: left;
  top: 50%;
  transform: translate(0%, -50%);
}

.header__title_letter-color-item1 {
  color: #ffe964;
}

.header__title_letter-color-item2 {
  color: #ff523d;
}

.header__title_letter-color-item3 {
  color: #223c88;
}

.section {
  padding: 100px 300px;
}

.section-one__title,
.section-two__title,
.section-three__title,
.section-four__title {
  margin: 0px 0px 50px 0px;
  font-size: 2rem;
}

.section-one__text,
.section-two__text,
.section-three__text,
.section-four__text {
  font-size: 0.75rem;
  line-height: 1.25rem;
  margin: 0px;
}

.section-one {
  background-color: #ffe964;
}

.section-two {
  background-color: white;
  text-align: left;
}

.section-three {
  background-color: #ff523d;
  color: white;
}

.section-four {
  background-color: #223c88;
  color: white;
}

.section__member_text {
  padding: 20px 0px 50px 0px;
}

.section__member_text h3 {
  font-size: 2rem;
  margin: 0;
}

.section__member_text p {
  font-size: 1rem;
  line-height: 1.25rem;
  margin-top: 5px;
}

.section-four {
  text-align: left;
}

.section-four h4 {
  margin: 0;
}

.section-four p {
  margin: 10px 0px;
}
